*{
    margin: 0;
    padding: 0;
    font-size: medium;
}
.landing{
    background :url("./download.jpeg");
    background-size: cover;
    background-color:pink;
    background-position: center;
    height: 120vh;
}
.landing{
    font-size: medium;
    text-align: center;
    color: darkgreen;
    padding:  20px;
    font-style: bold;
}
.landing p{
    font-size: medium;
    text-align: center;
    color: darkgreen;
    padding: top 20px;
    font-style: bold;
}
.button{
    font-size: medium;
    text-align: center;
    color: darkgreen;
    padding: top 20px;
    font-style: bold;
}